@font-face {
    font-family: 'BebasNeueRegular';
    src:url('BebasNeue-Regular.woff2');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('Poppins-Light.ttf');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('Poppins-Bold.ttf');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'PoppinsExtraBold';
    src: url('Poppins-ExtraBold.ttf');
}
