@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url('../assets/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main-banner {
    background: url('../assets/images/Grupo 4284@2x.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
}

.navbar{
    width: inherit;
}

.p-20{
    padding: 20%;
}

.hero-text {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    letter-spacing: 4.48px;
    font-family: BebasNeue;
    position: absolute;
    top: 78vh !important;
    left: 46%;
}

.scroll-sec {
    background: url("../assets/images/Retângulo 1145.svg") no-repeat 50%;
    /*background:green;*/
    height: 84px;
    position: absolute;
    top: 82vh;
    left: 0px;
    transform-origin: 50% 50%;
    animation: scroll-sec .5s linear alternate infinite;
}

@keyframes scroll-sec {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}

.button-wallet{
    font-weight: 200 !important;
    text-align: center;
    color: #5887FF !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 0 !important;
    font-family: BebasNeue;
    font-size: 12px;
}

.wallet-text {
    width: 202px !important;
    height: 44px !important;
    font-size: 28px !important;
    padding: 0 !important;
}

.navbar-nav{
    width: 30%;
    justify-content: space-between;
}
#basic-navbar-nav{
    flex-grow: 0;
}

.footer-section{
    padding: 2%;
}

.box-main-modal{
    background-color: transparent;
    overflow: hidden !important;
}

.bg-theme-modal{
    background-color: #121F2B;
    color: white;
    font-family: BebasNeue;
}

.font-size-40{
    font-size: 40px;
}

.modal{
    top: 10% !important;
    left: 40% !important;
    width: 464px !important;
    height: 573px !important;
    letter-spacing: 0.5px;
}

.modal-title{
    font-size: 2.5rem;
    letter-spacing: 0.5px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-family: BebasNeue;
    letter-spacing: 0.5px;
}

.modal-footer {
    font-family: BebasNeue;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    letter-spacing: 0.5px;
}

input[type="text"] {
    background-color: rgba(49, 63, 75, 0.49) !important;
    border: none;
    color: white !important;
    font-family: Poppins !important;
}

input[type="text"]::placeholder {
    color: white !important;
}

input[type="textarea"]::placeholder {
    color: white !important;
}

.modal-email{
    color: white !important;
    font-family: Poppins !important;
}

#modal-email:focus, #modal-email:active{
    color: white !important;
    border: none;
}

textarea::placeholder, textarea {
   padding: 5%;
    background-color: rgba(49, 63, 75, 0.49) !important;
    border: none;
    height: 100px;
    width: 100%;
    color: white !important;
}
textarea:focus, textarea:active, textarea {
   border: none !important;
}

.accordion{
    width: 908px !important;
}

.who-section {
    background: url("../assets/images/Retângulo 1214.png") no-repeat;
    background-size: 100% 115%;
    color: #FFFFFF;
    margin-top: -2px;
    padding-top: 203px;
}

.who-section-title{
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.mt-100{
    margin-top: 100px;
}

.mt-2px{
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 300;
    width: auto;
    margin-top: 40px;
    line-height: normal;
}

.bg-who{
    background: none;
    margin-top: 236px;
    margin-bottom: 155px;
}

@media only screen and (max-width: 320px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
        position: absolute;
        top: 8vh !important;
        left: 46%;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}

@media (min-width: 360px) and (max-width: 480px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}

@media (min-width: 481px) and (max-width: 575px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}
@media only screen and (min-width: 768px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}
@media only screen and (min-width: 992px) {
    .main-banner {
        background: url('../assets/images/Grupo 4284.png') no-repeat;
        background-size: 100% 100%;
        border: none;
        height: 33vh !important;
        padding-top: 58%;
    }
    .hero-title {
        position: relative;
        top: 20vh !important;
    }

    .hero-text{
        font-size: 32px;
    }

    .mt-100{
        margin-top: 65%;
    }

    .footer-links{
        float: right;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .footer-section{
        padding: 2% 7%;
    }
    .scroll-sec{
        height: 4vh;
    }
}
/*@media only screen and (min-width: 1200px) {*/
/*    .main-banner {*/
/*        background: url('../assets/images/Grupo 4284.png') no-repeat;*/
/*        background-size: 100% 100%;*/
/*        border: none;*/
/*        height: 33vh !important;*/
/*        padding-top: 58%;*/
/*    }*/
/*    .hero-title {*/
/*        position: relative;*/
/*        top: 20vh !important;*/
/*    }*/

/*    .hero-text{*/
/*        font-size: 32px;*/
/*    }*/

/*    .mt-100{*/
/*        margin-top: 65%;*/
/*    }*/

/*    .footer-links{*/
/*        float: right;*/
/*        padding-top: 10%;*/
/*        padding-bottom: 5%;*/
/*    }*/

/*    .footer-section{*/
/*        padding: 2% 7%;*/
/*    }*/
/*    .scroll-sec{*/
/*        height: 4vh;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 1400px) {*/
/*    .main-banner {*/
/*        background: url('../assets/images/Grupo 4284.png') no-repeat;*/
/*        background-size: 100% 100%;*/
/*        border: none;*/
/*        height: 33vh !important;*/
/*        padding-top: 58%;*/
/*    }*/
/*    .hero-title {*/
/*        position: relative;*/
/*        top: 20vh !important;*/
/*    }*/

/*    .hero-text{*/
/*        font-size: 32px;*/
/*    }*/

/*    .mt-100{*/
/*        margin-top: 65%;*/
/*    }*/

/*    .footer-links{*/
/*        float: right;*/
/*        padding-top: 10%;*/
/*        padding-bottom: 5%;*/
/*    }*/

/*    .footer-section{*/
/*        padding: 2% 7%;*/
/*    }*/
/*    .scroll-sec{*/
/*        height: 4vh;*/
/*    }*/
/*}*/
