@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url('../assets/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.main-banner {
    background: url('../assets/images/main-banner-bg.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border: none;
    padding-top: 30px;
    height: 95vh !important;
}

.navbar {
    width: inherit;
    position: relative;
    z-index: 2;
}

.p-20 {
    padding: 20%;
}

.hero-text {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    letter-spacing: 4.48px;
    font-family: BebasNeue;
    position: absolute;
    top: 78vh !important;
    left: 46%;
}

.scroll-sec {
    background: url("../assets/images/Retângulo 1145.svg") no-repeat 50%;
    /*background:green;*/
    height: 84px;
    position: absolute;
    top: 82vh;
    left: 0px;
    transform-origin: 50% 50%;
    animation: scroll-sec .5s linear alternate infinite;
}

@keyframes scroll-sec {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    40% {
        transform: translate3d(0, 30%, 0) scale3d(.7, 1.5, 1);
    }
    100% {
        transform: translate3d(0, 100%, 0) scale3d(1.5, .7, 1);
    }
}

.button-wallet {
    text-align: center;
    color: #5887FF !important;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 0 !important;
    font-family: BebasNeueRegular !important;
    font-size: 12px !important;
}

.wallet-text {
    width: 202px !important;
    height: 44px !important;
    font-size: 28px !important;
    padding: 0 !important;
}

.navbar-nav {
    width: 30%;
    justify-content: space-between;
}

#basic-navbar-nav {
    flex-grow: 0;
}

.footer-section {
    padding: 2%;
}

.box-main-modal {
    background-color: transparent;
    overflow: hidden !important;
}

.bg-theme-modal {
    background-color: #0A0F13 !important;
    color: white;
    font-family: BebasNeue;
}

.bg-theme-modal.h2 {
    font-weight: 200;
    letter-spacing: 1.5px;
}

.form-h6 {
    opacity: .7;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin-bottom: 5px !important;
}

.font-size-40 {
    font-size: 40px;
}

.modal {
    top: 10% !important;
    left: 40% !important;
    width: 464px !important;
    height: 573px !important;
    letter-spacing: 0.5px;
}

.modal-title {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-family: BebasNeue;
    letter-spacing: 0.5px;
}

.modal-footer {
    font-family: BebasNeue;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    letter-spacing: 0.5px;
}

input[type="text"] {
    background-color: rgba(49, 63, 75, 0.49) !important;
    border: none;
    color: white !important;
    font-family: Poppins !important;
}

input[type="text"]::placeholder {
    color: white !important;
}

input[type="textarea"]::placeholder {
    color: white !important;
}

.modal-email {
    color: white !important;
    font-family: Poppins !important;
}

#modal-email:focus, #modal-email:active {
    color: white !important;
    border: none;
}

textarea::placeholder {
    color: white !important;
}

textarea {
    background: rgba(49, 63, 75, 0.49) !important;
    border: none !important;
    text-transform: none !important;
    letter-spacing: 1.5px !important;
    color: white !important;
    font-family: Poppins !important;
    resize: none !important;
}
.accordion {
    width: 908px !important;
}

.who-section {
    background: #050509;
    background-size: 100% 115%;
    color: #FFFFFF;
    margin-top: -2px;
    padding-top: 203px;
}

.who-section-title {
    text-align: left;
    font: normal normal 600 48px BebasNeueRegular;
    letter-spacing: 1.44px;
    color: #5887FF;
    text-transform: uppercase
}

.mt-100 {
    margin-top: 100px;
}

.mt-2px {
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 300;
    width: auto;
    margin-top: 40px;
    line-height: normal;
}

.bg-who {
    background: none;
    margin-top: 236px;
    margin-bottom: 155px;
}

.main-banner {
    height: 95vh !important;
}

.part-btn {
    background: #5887FF !important;
    color: white;
    font-family: BebasNeueRegular;
    font-size: 28px !important;
    letter-spacing: 1.5px;
    height: 60px;
    width: 250px;
    border-radius: 0 !important;
    border: none !important;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 125px);
}

.text-para {
    text-align: left;
    font: normal normal normal 16px PoppinsRegular;
    letter-spacing: 0.32px;
    color: #F0544F;
}

.last-para {
    font-weight: 600;
}

.footer-section p {
    text-align: left;
    font: normal normal normal 16px PoppinsSemiBold;
    letter-spacing: 1.5px;
    color: #172A3A;
    margin-top: 10px;
}

.banner {
    max-width: 485px !important;
}

.middle-samurai {
    width: auto !important;
    left: 12%;
}

.top-samurai {
    width: auto !important;
    left: -15%;
    top: -60%;
}

.bottom-samurai {
    width: auto !important;
    right: -17%;
    bottom: -65%;
}

.input {
    text-transform: none !important;
    letter-spacing: 1.5px;
    color: white !important;
}

.textarea {
    color: white !important;
    text-transform: none !important;
    letter-spacing: 1.5px;
    max-width: 100% !important;
    overflow: hidden;
    background-color: rgb(33 47 59) !important;
}

.main-banner-modal {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    height: 100% !important;
    max-height: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

.main-banner-modal .modal-dialog {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.main-banner-modal .modal-content {
    height: 100% !important;
    width: 100% !important;
    overflow-y: auto;
}


@media screen and (min-width: 320px) and (max-width: 576px) {
    .middle-samurai {
        height: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        left: 0 !important;
    }

    .main-banner {
        background: url('../assets/images/mobile-banne-bg.png') no-repeat;
        background-size: cover;
        width: 100%;
        border: none;
        height: 100vh !important;
        padding-top: 30px;
    }

    .slick-slide {
        position: relative !important;
        left: -10px !important;
    }

    .nav-link {
        display: inline-block !important;
        width: auto !important;
    }
}
