@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue/BebasNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.w-868px {
    width: 868px;
}

.slider-section {
    background: #000000;
    background-size: cover;
    padding-top: 5%;
    margin-top: -2px;
    padding-bottom: 10%;
}


.vh-50 {
    height: 50vh;
}

.carousel-indicators {
    top: 38vh !important;
    left: 0% !important;
}

.slider-section > div > div > div > button {
    background-color: #073358 !important;
    width: 44px !important;
    height: 6px !important;
    margin-left: 6px;
}
.comming-soon-txt{
    font: normal normal normal 28px/27px Bebas Neue;
    letter-spacing: 1.4px;
}

.slider-section > div > div > div > button.active {
    background-color: #FFFFFF !important;
    width: 44px !important;
    height: 6px !important;
    margin-left: 6px;
}

.carousel-indicators [data-bs-target] {
}

.roadmap-section-title {
    text-align: center;
    font-size: 56px;
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 4.48px;
    padding: 5%;
}

.blackButton {
    background-color: black;
    color: white;
}

.whiteButton {
    background-color: white;
    color: black;
}

.checkbox-checked-section {
    background: #5887FF;
    opacity: 1;
}

.checkbox-checked-section:active {
    background: #172A3A 0% 0% no-repeat padding-box;
    opacity: 1;
}

.checkbox-checked-section:checked {
    background: #5887FF;
    opacity: 1;
    color: #121F2B;
}

.custom-checks {
    font-family: Bebas Neue;
    font-size: 52px;
}

.unhandled-check {
    background: #121F2B;
    opacity: .7;
    color: #000000;
    letter-spacing: -0.38px;
    padding: 20px;
    text-align: left;
    max-width: 646px !important;
    margin: 0 auto 35px auto !important;
    font-size: 20px;
}

.handled-check {
    /* background: #121F2B; */
    background: transparent;
    opacity: 1;
    color: #FFFFFF;
    letter-spacing: -0.38px;
    font-family: Poppins;
    padding: 20px;
    text-align: left;
    max-width: 646px !important;
    margin: 0 auto 35px auto !important;
    font-size: 20px;
}

.font-poppins {
    font-family: Poppins !important;
    letter-spacing: 0.38px !important;
    line-height: normal;
}

.card-body {
    margin-top: -25px;
}

.road-section {
    background: #000000;
    text-align: center;
    padding-bottom: 5%;
}

.first-check {
    font-family: Poppins, serif;
    font-size: 20px;
}

input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 1rem;
    background: #5887FF;
    top: 0.9ex;
    left: 0.4ex;
    border: 7px solid #000000;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.c-box {
    display: none;
}

.d-box {
    background: url("../assets/images/blue-tick.svg") 60%;
    height: 40px;
    width: 40px;
}

.game-section-title {
    vertical-align: center;
    text-align: center;
    font-size: 40px;
    font-family: Bebas Neue;
    letter-spacing: 1.2px;
    opacity: 1;
    color: #FFFFFF;
    font-style: revert;
    margin-top: 119px;
    margin-bottom: 64px;
}

.ml-20px {
    margin-left: 20px;
}

.game-section {
    background: #050509;
    text-align: center;
    padding-bottom: 5%;
}

.game-subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: Poppins;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 236px;
    margin-bottom: 174px;
    line-height: normal;
}

.game-subtitle-1 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: Poppins;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 236px;
    margin-bottom: 174px;
    margin-top: 70px !important;
    line-height: normal;
}

.next-section-title {
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    font-family: BebasNeue;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 119px;
    margin-bottom: 64px;
    line-height: normal;
}

.next-section {
    background: #172A3A;
}

.next-row-section {
    font-family: Poppins;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
}

.samuraiOne {
    position: relative;
    top: -13vh;
}

.sug-btn {
    font-weight: 100 !important;
    text-align: center;
    color: #FFFFFF !important;
    letter-spacing: 1.5px;
    opacity: 1;
    border-radius: 0 !important;
    font-family: 'Bebas Neue' !important;
    font-size: 25px !important;
    background: #5887FF !important;
    border: 1px solid #5887FF !important;
    margin-right: 5% !important;
}

.dis-btn {
    opacity: 1;
    border-radius: 0 !important;
    font: normal normal normal 28px BebasNeueRegular !important;
    letter-spacing: 2px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    background: #5887FF !important;
    border: 1px solid #5887FF !important;
}

.faq-section {
    background: #000000;
    height: fit-content;
    padding-bottom: 5%;
    color: white;
    font-family: BebasNeueRegular;
    font-size: 40px;
    line-height: normal;
}

.faq-section-title {
    background: #000000;
    height: fit-content;
    padding-bottom: 5%;
    color: white;
    font-family: BebasNeueRegular;
    font-weight: lighter;
    font-size: 56px;
    letter-spacing: 4.48px;
    line-height: normal;
}

.faq-section-sub-title {
    background-color: #5887FF !important;
    color: #FFFFFF !important;
    border-radius: 0 !important;
}

.bg-join {
    background-color: #F0544F;
    height: 21.375rem;
}

.samuraiTwo {
    position: relative;
    right: -20%;
    bottom: 50%;
    width: 65%;
}

.join-section-title {
    font: normal normal bold 48px BebasNeue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.mt-8rem {
    margin-top: 8rem;
}

.mb-comm-join {
    margin-bottom: 6.125rem;
}

.font-size-20 {
    font-size: 40px;
    font-weight: 800;
}

.mt-10 {
    margin-top: 10%;
}

.faq-title {
    font-size: 28px;
    font-family: BebasNeue;
    text-align: left;
    float: left;
}

.v-desc {
    color: #121F2B !important;
    font-family: PoppinsMedium;
    font-size: 20px;
    margin: 10px 0;
    opacity: 1;
}

.custom-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.card-header {
    border-bottom: none !important;
    padding: 0;
}

.carousel-control-prev {
    display: none !important;
}

.carousel-control-next {
    display: none !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.video-section {
    width: 868px;
}

.faq-section-box {
    padding-right: 0%;
    padding-left: 0%;
}

@media only screen and (max-width: 320px) {


    .video-section {
        width: auto;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-left: -83% !important;
        margin-top: 11%;
        font-size: 28px;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        float: left;
        text-align: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .faq-section {
        padding-bottom: 15%;
    }

    .next-section-title {
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }

}

@media (min-width: 360px) and (max-width: 480px) {

    .hero-text {
        position: unset;
    }

    .scroll-sec {
        position: unset;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-top: 11%;
        font-size: 28px;
    }

    .mt-2p {
        width: 100%;
    }

    .ml-20px {
        margin-left: 0% !important;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        text-align: left;
        float: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        margin-top: 20px;
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .video-section {
        width: auto;
    }

    .road-section {
        margin-top: -1px;
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }
}

@media (min-width: 481px) and (max-width: 575px) {
    .hero-text {
        position: unset;
    }

    .scroll-sec {
        position: unset;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-top: 11%;
        font-size: 28px;
    }

    .mt-2p {
        width: 100%;
    }

    .ml-20px {
        margin-left: 0% !important;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        text-align: left;
        float: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .video-section {
        width: auto;
    }

    .road-section {
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {


    .hero-text {
        position: unset;
    }

    .scroll-sec {
        position: unset;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-top: 11%;
        font-size: 28px;
    }

    .mt-2p {
        width: 100%;
    }

    .ml-20px {
        margin-left: 0% !important;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        float: left;
        text-align: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .video-section {
        width: auto;
    }

    .road-section {
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }
}
@media only screen and (min-width: 768px) and (max-width : 1279px) {
.road-bg {
    display: none;
}
.fight-for-clan p{
    width: 80%;
    margin: auto;
}
.fight-for-clan h3{
    width: 80%;
    margin: auto;
}
.fight-for-clan div{
    width: 80%;
    margin: auto;
}
.road-section {
    margin-top: -2px;
}
.fix-par{
    margin-left: 25px;
}
}
@media screen and (min-width: 1280px) {
    .fight-for-clan p {
        max-width: 535px;
    }
    .slider-section > div > div > div > div > div {
        width: 335px !important;
    }
}
@media only screen and (min-width: 768px) {

    .hero-text {
        position: unset;
    }

    .scroll-sec {
        position: unset;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-top: 11%;
        font-size: 28px;
    }

    .mt-2p {
        width: 100%;
    }

    .ml-20px {
        margin-left: 0% !important;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        text-align: left;
        float: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .video-section {
        width: auto;
    }

    .road-section {
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }
}

@media only screen and (min-width: 992px) {

    .hero-text {
        position: unset;
    }

    .scroll-sec {
        position: unset;
    }

    .samuraiOne {
        display: none;
    }

    .game-section-title {
        width: max-content;
        margin-top: 11%;
        font-size: 28px;
    }

    .mt-2p {
        width: 100%;
    }

    .ml-20px {
        margin-left: 0% !important;
    }

    .next-section {
        background: #172A3A;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 20%;
        margin-bottom: -10%;
    }

    .card-header {
        border-bottom: none;
    }

    .faq-title {
        font-size: 20px;
        text-align: left;
        float: left;
    }

    .samuraiTwo {
        display: none;
    }

    .mt-8rem {
        margin-top: 0;
    }

    .bg-join {
        height: 13.375rem;
    }

    .roadmap-section-title {
        font-size: xxx-large;
    }

    .game-subtitle {
        font-size: small;
        margin-bottom: 4rem;
        width: 100%;
        margin-left: 0;
    }

    .video-section {
        width: auto;
    }

    .road-section {
        text-align: center;
    }

    .faq-section-box {
        padding-right: 0%;
        padding-left: 0%;
    }
}

.samuraiTwoFooter {
    width: 327px !important;
    height: 271px !important;
    top: -100% !important;
    left: 5% !important;
    position: absolute;
}

.samuraiOneFooter {
    width: 310px !important;
    height: 250px !important;
    top: -62% !important;
    right: 3% !important;
    position: absolute;
}

.bg-join-footer {
    background-color: #F0544F;
}

.join-comm label {
    letter-spacing: 2.24px !important;
    font-weight: 200 !important;
}

.join-sec-para {
    font-family: PoppinsRegular;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    max-width: 648px;
    color: #FFFFFF;
}

.faq-title {
    font: normal normal 500 32px BebasNeue !important;
    letter-spacing: 1.5px;
    text-align: left;
    float: left;
}

.our-team h6 {
    font: normal normal bold 24px BebasNeueRegular;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    margin: 10px 0;
}

.our-team .top-image {
    max-width: 202px;
    height: 202px;
    background: #5887FF;
}

.our-team p {
    margin: 0;
    font: normal normal normal 14px PoppinsRegular;
    letter-spacing: 1.12px;
    color: #FFFFFF;
}

.slick-dots {
    bottom: -50px !important;
}

.slick-dots li button:before {
    content: '';
    height: 3px !important;
    width: 91px !important;
    background: #073358;
}

.slick-dots .slick-active button:before {
    content: '';
    background: #FFFFFF;
}

.slick-dots li {
    height: 3px !important;
    width: 91px !important;
    margin: 0 5px !important;
}

/*.slick-slide {*/
/*    margin-right: 10px;*/
/*}*/
.clan {
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

.clan-h {
    margin-top: 35px;
    font: normal normal bold 46px BebasNeueRegular;
    letter-spacing: 3.68px;
    color: #FFFFFF;
    min-height: 80px !important;
    text-transform: uppercase;
}

.clan-para {
    margin-top: 25px;
    font: normal normal normal 18px PoppinsRegular;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.clan-top-image {
    position: absolute;
    height: 250px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 125px);
}

.clan-detail {
    transition: background-color 2s ease-out;
}

.screen-smurai{
    float: right;
}

.percent-text {
    font: normal normal normal 48px BebasNeue !important;
    letter-spacing: 3.84px;
    color: #F0544F;
    text-transform: uppercase;
}

.text-road {
    text-align: left;
    font: normal normal normal 18px PoppinsRegular !important;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.semibold {
    font: normal normal normal 18px PoppinsSemiBold;
    color: #5887FF;
}

.fight-for-clan h3 {
    font: normal normal bold 48px BebasNeue;
    letter-spacing: 3.84px;
    color: #F0544F;
    text-transform: uppercase;
    margin-top: 50px;
}

@media screen and (min-width: 650px) {
    #abc{
        margin-top: -400px !important;
    }
}

@media screen and (min-width: 320px) and (max-width:650px) {
    #abc{
        margin-top: -200px !important;
    }
    .set-clan-ul{
        width: 310px !important;
        margin: auto !important;
    }
}


.fight-for-clan p {
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font: normal normal 600 18px PoppinsRegular;
    color: #0A0F13;
}

.road-bg {
    position: absolute;
    top: 15%;
    margin-left: -1000px !important;
    right: 78%;
}

@media screen and (min-width: 1440px) {
    .fight-bg {
        margin-left: auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 667px) {
    .samuraiTwoFooter {
        height: 110pt !important;
        width: 133pt !important;
        top: -55% !important;
        left: 10px;
    }
    .handled-check{
        margin: 0px !important;
        padding: 20px 0 !important;
    }

    .samuraiOneFooter {
        height: 100pt !important;
        width: 110pt !important;
        top: 100% !important;
        right: 0px !important;
    }

    .fight-bg {
        /* margin: auto !important; */
        margin-left: 12px;
    }

    .road-bg {
        display: none;
    }

    .slick-dots li {
        width: 35px !important;
    }

    .slick-dots li button:before {
        width: 35px !important;
    }

    .clan img {
        max-width: 50px !important;
        max-height: 45px !important;
    }

    .faq-title {
        font-size: 20px !important;
        text-align: left;
        float: left;
    }

    .join-section-title {
        font-size: 25pt !important;
    }
}

.top-title {
    font-weight: 600;
    text-transform: uppercase;
}  