.who-section {
  background: url("../assets/images/Retângulo 1214.png") no-repeat;
  background-size: 100% 115%;
  color: #FFFFFF;
  margin-top: -2px;
  padding-top: 203px;
}

.who-section-title{
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.mt-100{
  margin-top: 100px;
}

.mt-2p{
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 300;
  width: 868px;
  margin-top: 40px;
}

.bg-who{
  background: none;
  margin-top: 236px;
  margin-bottom: 155px;
}

@media only screen and (max-width: 320px) {
  .who-section{
    padding-top: 84%;
  }

  .mt-100{
    margin-top: 100%;
  }

  .who-section-title{
    font-size: 32px;
  }

  .mt-2p{
    font-size: 12px;
  }

}

@media (min-width: 360px) and (max-width: 480px) {
  .who-section{
    padding-top: 75%;
  }

  .mt-100{
    margin-top: 100%;
  }

  .who-section-title{
    font-size: 32px;
  }

  .mt-2p{
    font-size: 12px;
  }

}